@font-face {
  font-family: architects;
  src: url("../assets/ArchitectsDaughter-Regular.ttf"); }

@font-face {
  font-family: buenared;
  src: url("../assets/Buenard-Bold.ttf"); }

@font-face {
  font-family: dance;
  src: url("../assets/DancingScript-VariableFont_wght.ttf"); }

@font-face {
  font-family: openSans;
  src: url("../assets/OpenSans-Light.ttf"); }

@font-face {
  font-family: mcLaren;
  src: url("../assets/McLaren-Regular.ttf"); }

@font-face {
  font-family: playfairRrgular;
  src: url("../assets/PlayfairDisplaySC-Regular.ttf"); }

body {
  margin: 0;
  background-color: #fefae0;
  background-image: linear-gradient(to bottom, #fefae0, #FFFFFF); }

header, footer {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  align-items: center; }

.card {
  overflow: hidden; }
  .card img {
    transition: transform 0.5s ease; }
  .card:hover img {
    transform: scale(1.1); }

.navbar-brand img {
  width: 25px; }

h1 {
  font-family: "playfairRrgular";
  justify-content: center;
  box-sizing: border-box;
  color: #001219; }

/*section decoCocina*/
h2 {
  font-size: 40px;
  text-align: center;
  font-family: "playfairRrgular"; }

h3 {
  font-family: "architects";
  line-height: 1.5; }

#livingCocina img {
  width: 100%;
  height: 500px; }

#dormitorio img {
  width: 350px;
  height: 400px; }

p {
  margin-left: 60px;
  font-family: "openSans"; }

.deco__parrafo {
  line-height: 2;
  text-align: justify; }

/*section NuestrosProyectos*/
.nosotros {
  background-color: #faedcd; }

.jumbotron {
  background-color: #f1d296;
  background-image: linear-gradient(to bottom, #f1d296, #FFFFFF); }

.nuestroProyecto__texto {
  font-family: "openSans";
  color: #001219;
  line-height: 2;
  padding-top: 30px; }

/*section quienesSomos*/
.nosotros__subtitulo {
  font-size: 40px;
  text-align: center; }

.nosotros__parrafo1 {
  font-size: 20px;
  line-height: 2.5;
  font-family: "mcLaren";
  padding-top: 5px;
  padding-bottom: 15px;
  margin: 8px;
  text-align: justify; }

.nosotros__parrafo2 {
  font-size: 20px;
  font-family: "mcLaren";
  line-height: 2.5;
  text-align: justify;
  padding-top: 40px;
  padding-bottom: 60px;
  margin: 0; }

/*section contactanos*/
.texto1 {
  font-family: "mcLaren";
  font-size: 20px;
  line-height: 2.5em;
  margin: 5px;
  text-align: justify;
  padding-bottom: 20px; }

.texto2 {
  padding: 5px;
  font-family: "dance";
  font-size: 30px;
  line-height: 1.5em;
  margin: 5px; }

.formulario__subtitulo {
  padding-top: 10px;
  padding-bottom: 50px; }

.formulario__imagen {
  grid-area: imagen;
  max-width: 100%; }

/*footer*/
footer {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  background-color: #faedcd;
  background: linear-gradient(to bottom, #faedcd, #FFFFFF); }

.footer__logo {
  width: 60px; }

.footer__email {
  margin: 0;
  padding-left: 30px;
  background-image: url("../assets/email.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block; }

footer h4 {
  margin-bottom: 30px;
  font-weight: 800;
  font-family: "buenared";
  font-size: 18px; }

footer ul {
  list-style: none;
  padding: 0; }

footer img {
  width: 30px; }

footer ul li {
  display: inline;
  margin: 0 20px; }

.btn-deco {
  background-color: #ffd7ba; }
